.table {
    border: 1px solid $wood;
    border-spacing: 1px;
    border-collapse: separate;

    tbody tr:nth-child(n) {
        background-color: $cream;
    }
}

.table tbody tr:nth-child(n) {
    background-color: $cream;
}

// Custom classes
.form-table {
    width: 100%;
    border-spacing: 5px 5px;
    border-collapse: separate;

    td, td > * {
        vertical-align: middle;
    }
}