[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sqlacodegen = "*"
flask-shell-ipython = "*"
ipdb = "*"

[packages]
flask = "*"
sqlalchemy = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
itsdangerous = "*"
arrow = "*"
flask-mail = "*"
pytest = "*"

[requires]
python_version = "3.5"
