.columns {
    display: flex;
    position: relative;

    .column {
        display: block;
        flex-basis: auto;

        margin: 0 15px;
        width: 180px;
        min-width: 180px;

        &--content {
            width: 790px;
            max-width: 790px;
            margin: 0;
        }
    }
}