body, html {
    color: $white;
    font-family: $family-primary;
}

.flash_list {
    padding: 0.25rem;
    font-size: 1.125rem;
}

.flash {
    color: $cinnamon;

    &--danger {
        color: $danger;
    }
}

.centered-title {
    color: $cinnamon;
    font-size: 24px;
    font-weight: bold;
}

.background-artwork {
    background-image: url("../../img/background-artwork.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    z-index: -1;
}

.rock-background {
    background-image: url("../../img/loginbox-textfield-background.gif");
    background-repeat: repeat-y;
    background-position: center;
}